<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift-Study.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB639D881DDC06F400DAE168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB639D9C1DDC06F400DAE168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB639DA71DDC06F400DAE168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
